html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#top-header{
    width: 100vw;
    height: 2rem;
    background-color: rgb(15, 6, 53);
}

.header-socials{
    display: flex;
    justify-content:flex-end;
}

#banner-area{
    width: 100vw;
    height: 80vh;
    /* background-color: aqua; */
}

#logo{
    padding: 0 30px;
    padding-top: 10px;
}
#form{
    padding: 40px;
}

#form input, #form select, #form textarea, #form button{
    border-radius: 0;
}

#banner-image img{
    width: 100%;
    height: 80vh;
    object-fit: cover
}

::-webkit-input-placeholder, #form select {
    /* Chrome/Opera/Safari */
    font-size: 12px;
    font-weight: 600;
}

#form button{
    background: coral;
    border: 0;
}

#features-block{
    background: rgb(252, 249, 249);
}

#background{
    position: relative;
}

#floating-box{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 99;
}

#numbers{
    position: absolute;
    right: 200px;
    top: 380px;
    z-index: 99;
}

#numbers .numbers-main{
    width: 500px;
    padding: 20px 80px;
}

.number-heading{
    color: coral;
}

#project-heading .number-heading{
    line-height: 15px;
}

#project-heading{
    display: flex;
    justify-content: space-between;
}

#testimonials-background{
    position: relative;
}

#testimonials-header{
    position: absolute;
    top: 10px;
    left: 30px;
}

.testimonial-block{
    background: #fff;
    margin-right: 10px;
}

.testimonial-slider{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 110px;
    left: 130px;
}

.testimonial-block{
    background: #fafafa;
    width: 500px;
}

#google-map{
    margin-top: 100px;
}

.orange-icon{
    color: coral;
}

#footer1, .socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}