html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.form-control:focus, .btn:focus, .form-select:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#top-header{
    width: 100vw;
    height: 2rem;
    background-color: rgb(15, 6, 53);
}

.header-socials{
    display: flex;
    justify-content:flex-end;
}

#banner-area{
    width: 100vw;
    height: 80vh;
    /* background-color: aqua; */
}

#logo{
    padding: 0 30px;
    padding-top: 10px;
}

#form{
    padding: 40px;
}
#form select{
    height: 38px;
}

#form input, #form select, #form textarea, #form button{
    border-radius: 0;
}

#right-enquiry-form{
    padding: 40px;
}

#right-enquiry-form input, #right-enquiry-form select, #right-enquiry-form textarea{
    border-radius: 0;
    background: transparent;
}

#right-enquiry-form select option{
    color: #111;
}

#right-enquiry-form select{
    height: 38px;
    color: #fff;
}

.months-btn{
    width: 90px;
    height: 50px;
    font-size: 10px;
    background: transparent;
}

.months-btn:hover, .on-active{
    background: coral !important;
}

#banner-image img{
    width: 100%;
    height: 80vh;
    object-fit: cover
}

::-webkit-input-placeholder, #form select, #right-enquiry-form select {
    /* Chrome/Opera/Safari */
    font-size: 12px;
    font-weight: 600;
}

#form button{
    background: coral;
    border: 0;
}

#features-block{
    background: rgb(252, 249, 249);
}

#features-block .col-md-3{
    text-align: center;
}

#background{
    position: relative;
}

#floating-box{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 99;
}

#numbers{
    position: absolute;
    right: 200px;
    top: 380px;
    z-index: 99;
}

#numbers .numbers-main{
    width: 500px;
    padding: 20px 80px;
}

.number-heading{
    color: coral;
}

#project-heading .number-heading{
    line-height: 15px;
}

#project-heading{
    display: flex;
    justify-content: space-between;
}

#testimonials-background{
    background-image: url("../images/testimonials/banner-3.jpg");
}

.testimonial-block{
    margin-right: 10px;
}

.testimonial-slider{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 110px;
    left: 130px;
}

.testimonial-block{
    background: #fafafa;
    width: 500px;
}

#google-map{
    margin-top: 100px;
}

.orange-icon{
    color: coral;
}

#footer1, .socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Slick slider */
.slick-prev:before, .slick-next:before {
    color: coral;
}

.slider{
    margin-top: 30px;
}

#side-enquiry-form-box{
    transition: all 0.5s;
    width: 30vw;
    height: 100vh;
    background: #111;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#side-enquiry-form-box .fa-times{
    font-size: 20px;
    border: 1px solid #fff;
    padding: 10px 13px;
    border-radius: 25px;
}

.enquiry-btn{
    margin-top: -22px;
}